@charset "UTF-8";

	.pic{
	 	position: relative;
	 }
	 .pic .rank{
	 	position: absolute;
	 	color : white;
	 	z-index: 1;
	 	margin-left: 10px;
	 	font-size: 2em;
    	font-style: italic;
    	text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);
	 }
	 .pic .customerRating{
		position: absolute;
	 	z-index: -1;
	 	font-size: 18px;
	 	color: #59bec9;
	 	top:200px; 
	 	left:51px;
	 }
	 .btndetail{
	 position:absolute;
	 top:70px;
	 left: 37px;
	 width:140px;
	 z-index:-1;
	 }
	 .btnreservation{
	 position:absolute;
	 top:120px;
	 left: 37px;
	 width:140px;
	 z-index:-1;
	 }