@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'IBMPlexSansKR-Regular';
}

/* 색상견본 : 진홍색 그라데이션 (로고 색상) */
.My-Color-Theme-1-hex { color: #F2220F; }
.My-Color-Theme-2-hex { color: #D92E1E; }
.My-Color-Theme-3-hex { color: #D94A3D; }
.My-Color-Theme-4-hex { color: #F2958D; }
.My-Color-Theme-5-hex { color: #F2F2F2; }

/* 색상견본 : 로고 색상 조합 */
.Color-Theme-1-1-hex { color: #D93654; }
.Color-Theme-1-2-hex { color: #394873; }
.Color-Theme-1-3-hex { color: #6D80A6; }
.Color-Theme-1-4-hex { color: #41A0F2; }
.Color-Theme-1-5-hex { color: #F2220F; }
